body
{
    margin: 0px;
    padding: 0px;
}

main
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #F1F1F1;
}

h1
{
    margin-top: 50px;
    color: #103144;
}

button 
{
    width: 110px;
    height: 50px;
    cursor: pointer;
    color: #4F4F4F;
    margin: 225px;
}

#modal
{
    position: absolute;
    width: 200px;
    height: 200px;
    background: #91ff00;
    top: 36%;
    left: 44%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    box-shadow: #403f3f 4px -5px 5px;
}

#close
{
    margin: -14px -11px 0px 0px;
    width: 35px;
    height: 35px;
    background: red;
    align-self: flex-end;
    cursor: pointer;
    border: none;
    color: white;
    border-radius: 18px;
    box-shadow: #403f3f 1px -1px 5px 2px;
    filter: brightness(0.5);
}

#close:hover
{
    filter: brightness(1);
}

#container_label
{
    margin: 58px 0px 44px 10px;
    height: 66px;
}

label
{
    color : blue;
}
